/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --header-background-image: url('../images/cover-image-dark.png');
  --accent-color: #FF0070;
  --page-background-color: #000028;
  --header-title-color: #DB00FF;
  --section-header-color: #FF0070;
  --subtitles-text-color: #000028;
  --section-paragraph-text-color: #F1B2CE;
  --footer-text-shadow: #FF0070;
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
