/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --header-background-image: url('../images/cover-image-light.png');
  --accent-color: #FF8DCB;
  --page-background-color: #F1B2CE;
  --header-title-color: #FFC2E6;
  --section-header-color: #353430;
  --subtitles-text-color: #353430;
  --section-paragraph-text-color: #353430;
  --footer-text-shadow: #FF0070;
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}