/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  min-width: 375px;
}

.header {
  position: relative;
  background-image: url('../images/cover-image.png');
  background-size: cover;
  background-position: center;
  min-height: 668px;
  padding: 10px;
  font-family: 'IBM Plex Mono';
}

.header .overlay {
  position: absolute;
  inset: 0;
  z-index: 0;
  background: rgba(0, 0, 0, .5);
}

.header__theme-menu {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 75px;
}

.header__theme-menu-button {
  font-size: 18px;
  text-transform: lowercase;
  line-height: 18px;
  color: var(--accent-color);
  background-color: transparent;
  padding: 1.5px 13px;
  border: none;
  text-align: right;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.header__rec {
  position: absolute;
  top: 10px;
  right: 19px;
  display: flex;
  align-items: center;
  gap: 8px;
  z-index: 1;
}

.header__rec-text {
  color: var(--accent-color);
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}

.header__rec-dot {
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.corner {
  position: absolute;
  width: 25px;
  height: 25px;
  z-index: 1;
}

.corner-top-right {
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.corner-bottom-left {
  top: 623px;
  left: 0;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.header__title {
  position: relative;
  z-index: 1;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  padding-top: 55px;
  color: #DB00FF;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__paragraph {
  position: relative;
  z-index: 1;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  color: #000028;
  padding-top: 55px;
}

.title-decor {
  display: block;
  background-color: var(--accent-color);
}