/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  min-width: 375px;
  background-color: var(--page-background-color);
  font-family: 'IBM Plex Mono';
}

.header {
  position: relative;
  background-image: url('../images/cover-image.png');
  background-size: cover;
  background-position: center;
  min-height: 668px;
  padding: 10px;
}

.header .overlay {
  position: absolute;
  inset: 0;
  z-index: 0;
  background: rgba(0, 0, 0, .5);
}

.header__theme-menu {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 75px;
}

.header__theme-menu-button {
  font-size: 18px;
  text-transform: lowercase;
  line-height: 18px;
  color: var(--accent-color);
  background-color: transparent;
  padding: 1.5px 13px;
  border: none;
  text-align: right;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.header__rec {
  position: absolute;
  right: 9px;
  display: flex;
  align-items: center;
  gap: 8px;
  z-index: 1;
}

.header__rec-text {
  color: var(--accent-color);
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}

.header__rec-dot {
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.decorated-zone {
  position: relative;
}

.corner {
  position: absolute;
  width: 25px;
  height: 25px;
  z-index: 1;
}

.corner-top-right {
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.corner-bottom-left {
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.header__title {
  position: relative;
  z-index: 1;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  padding-top: 55px;
  padding-bottom: 55px;
  color: #DB00FF;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__subtitle {
  position: relative;
  z-index: 1;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  color: var(--subtitles-text-color);
}

.section__subtitle {
  position: relative;
  z-index: 1;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  color: var(--subtitles-text-color);
}

.section__subsubtitle {
  position: relative;
  z-index: 1;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  color: var(--subtitles-text-color);
  margin-top: 20px;
}

.title-decor {
  display: block;
  background-color: var(--accent-color);
}

.main {
  margin: 40px 10px;
  font-size: 18px;
  line-height: 23.4px;
}

.section__header {
  font-size: inherit;
  font-weight: 700;
  color: var(--accent-color);
  margin-bottom: 20px;
}

.section__paragraph {
  margin-top: 10px;
  margin-bottom: 20px;
  color: var(--section-paragraph-text-color);
}

.section__paragraph-last {
  margin-bottom: 50px;
}

.section__images {
  display: grid;
  grid-template-rows: repeat(5, fit-content(100%));
  gap: 10px;
  margin-top: 10px;
}

.section__image {
  width: 355px;
}

.footer__title {
  padding: 286px 13px 285px 14px;
  text-shadow: 1px 3px 0 var(--accent-color);
}

@media(width >= 768px) {
  .header {
    padding: 20px 20px 20px 0;
  }

  .header__theme-menu-list {
    padding-top: 192px;
  }

  .corner-top-right {
    top: 20px;
    right: 20px;
  }

  .corner-bottom-left {
    bottom: 20px;
    left: 20px;
  }

  .header__title {
    padding-top: 163px;
    padding-bottom: 162px;
  }

  .header__subtitle {
    margin-left: 384px;
    margin-bottom: 163px;
  }

  .main {
    margin: 60px 20px;
  }

  .section {
    display: grid;
  }

  .section__header {
    display: block;
    width: 236px;
  }

  .section__paragraph-last {
    margin-bottom: 80px;
  }

  .section:nth-child(1),
  .section:nth-child(3) {
    grid-template-columns: 236px 1fr;
  }

  .section:nth-child(2) {
    grid-template-columns: 1fr;
  }

  .section:nth-child(1) > .section__header,
  .section:nth-child(3) > .section__header {
    grid-column: 1;
  }

  .section:nth-child(1) > .section__subtitle,
  .section:nth-child(1) > .section__paragraph,
  .section:nth-child(3) > .section__subtitle,
  .section:nth-child(3) > .section__subsubtitle,
  .section:nth-child(3) > .section__paragraph {
    grid-column: 2;
  }

  .section:nth-child(1) > .section__subsubtitle,
  .section:nth-child(3) > .section__subsubtitle {
    margin-top: 0;
  }

  .section__images {
    display: grid;
    grid-template-columns: repeat(3, 230px);
    grid-template-rows: 192px 230px 318px;
    gap: 20px;
    margin-top: 20px;
  }

  .section__images > .section__image:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .section__images > .section__image:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .section__images > .section__image:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / -1;
  }

  .section__images > .section__image:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .section__images > .section__image:nth-child(5) {
    grid-column: 2 / -1;
    grid-row: 3;
  }

  .section__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .footer__title {
    padding: 463px 204px 462px;
  }
}