/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  min-width: 375px;
  background-color: var(--page-background-color);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'IBM Plex Mono';
}

.header {
  position: relative;
  background-image: var(--header-background-image);
  background-size: cover;
  background-position: center;
  min-height: 100dvh;
  padding: 10px;
}

.header__theme-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 65px;
}

.header__theme-menu-button {
  font-size: 18px;
  text-transform: lowercase;
  line-height: 18px;
  color: var(--accent-color);
  background-color: transparent;
  padding: 1.5px 13px;
  border: none;
  text-align: right;
  cursor: pointer;
  transition: border-color 0.3s;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--accent-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__rec {
  position: absolute;
  right: 9px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__rec-text {
  color: var(--accent-color);
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}

.header__rec-dot {
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.decorated-zone {
  position: relative;
}

.corner {
  position: absolute;
  width: 25px;
  height: 25px;
}

.corner-top-right {
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.corner-bottom-left {
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  padding-top: 65px;
  padding-bottom: 65px;
  color: var(--header-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__subtitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3em;
  color: var(--subtitles-text-color);
}

.section__block {
  display: flex;
  flex-direction: column;
}

.section__subtitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  color: var(--subtitles-text-color);
  margin-bottom: 10px;
}

.section__subsubtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  color: var(--subtitles-text-color);
  margin-bottom: 10px;
}

.title-decor {
  display: block;
  background-color: var(--accent-color);
}

.main {
  margin: 40px 10px;
  font-size: 18px;
  line-height: 23.4px;
}

.section__header {
  font-size: inherit;
  font-weight: 700;
  color: var(--section-header-color);
  margin-bottom: 20px;
}

.section__paragraph {
  color: var(--section-paragraph-text-color);
  margin-bottom: 20px;
}

.section__paragraph-last {
  margin-bottom: 50px;
}

.section__images {
  display: grid;
  grid-template-rows: repeat(5, fit-content(100%));
  gap: 10px;
  margin-top: 10px;
}

.section__image {
  width: 355px;
}

.footer__title {
  padding: 286px 13px 285px 14px;
  text-shadow: 1px 3px 0 var(--footer-text-shadow);
}

@media(width >= 768px) {
  .header {
    padding: 20px 20px 20px 0;
  }

  .header__theme-menu-list {
    padding-top: 182px;
  }

  .corner-top-right {
    top: 20px;
    right: 20px;
  }

  .corner-bottom-left {
    bottom: 20px;
    left: 20px;
  }

  .header__title {
    padding-top: 173px;
    padding-bottom: 162px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__subtitle {
    margin-left: 384px;
    margin-bottom: 163px;
  }

  .main {
    margin: 60px 20px;
  }

  .section {
    display: grid;
    column-gap: 20px;
  }

  .section__header {
    display: block;
    width: 236px;
  }

  .section__paragraph-last {
    margin-bottom: 80px;
  }

  .section:nth-child(1),
  .section:nth-child(3) {
    grid-template-columns: 236px 1fr;
  }

  .section:nth-child(2) {
    grid-template-columns: 1fr;
  }

  .section:nth-child(1) > .section__header,
  .section:nth-child(3) > .section__header {
    grid-column: 1;
  }

  .section:nth-child(1) > .section__block,
  .section:nth-child(3) > .section__block {
    grid-column: 2;
  }

  .section:nth-child(1) > .section__subsubtitle,
  .section:nth-child(3) > .section__subsubtitle {
    margin-top: 0;
  }

  .section__images {
    display: grid;
    grid-template-columns: repeat(3, 230px);
    grid-template-rows: 192px 230px 318px;
    gap: 20px;
    margin-top: 20px;
  }

  .section__images > .section__image:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .section__images > .section__image:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .section__images > .section__image:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / -1;
  }

  .section__images > .section__image:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .section__images > .section__image:nth-child(5) {
    grid-column: 2 / -1;
    grid-row: 3;
  }

  .section__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .footer__title {
    padding: 463px 204px 462px;
  }
}

@media(width >= 1024px) {
  .header__theme-menu-list {
    flex-direction: row;
    padding-top: 0;
    padding-right: 377px;
  }

  .header__title {
    padding-top: 273px;
    padding-bottom: 114px;
  }

  .header__subtitle {
    margin-left: 513px;
    margin-bottom: 114px;
  }

  .section__header {
    width: 315px;
  }

  .section:nth-child(1),
  .section:nth-child(3) {
    grid-template-columns: 315px 1fr;
  }

  .section:nth-child(2) {
    grid-template-columns: repeat(3, 315px);
    grid-auto-rows: min-content;
  }

  .section:nth-child(2) > .section__header {
    grid-column: 1 / -1;
    grid-row: 1;
  }

  .section:nth-child(2) > .section__subtitle:nth-of-type(1) {
    grid-column: 1;
    grid-row: 2;
  }

  .section:nth-child(2) > .section__paragraph:nth-of-type(1) {
    grid-column: 1;
    grid-row: 3;
  }

  .section:nth-child(2) > .section__subtitle:nth-of-type(2) {
    grid-column: 2;
    grid-row: 2;
  }

  .section:nth-child(2) > .section__paragraph:nth-of-type(2) {
    grid-column: 2;
    grid-row: 3;
  }

  .section:nth-child(2) > .section__subtitle:nth-of-type(3) {
    grid-column: 3;
    grid-row: 2;
  }

  .section:nth-child(2) > .section__paragraph:nth-of-type(3) {
    grid-column: 3;
    grid-row: 3;
  }

  .section__images {
    grid-template-columns: repeat(3, 315px);
    grid-template-rows: 260px 315px 433px;
  }

  .footer__title {
    padding: 319px 276px 319px 277px;
  }
}