/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #FF0070;
  --page-background-image: url('../images/cover-image.png');
  --subtitles-text-color: #000028;
  --section-paragraph-text-color: #F1B2CE;
}
